$main-font: 'Inter', sans-serif;
$font-1: 'Inter Tight', sans-serif;
$main-color-text: #333333;
$main-color-text-hover: rgb(102, 102, 102);
$main-color-text-down: rgb(178, 178, 178);
$color-text-2: rgba(248, 246, 241);
$color-text-3: rgb(20, 163, 70);
$color-text-4: rgba(255, 255, 255, 1);
$color-text-1: rgb(46, 48, 52);
$color-turquoise: rgb(89, 213, 188);
$color-turquoise-1: rgb(86, 195, 178);
$color-turquoise-2: rgb(70, 193, 174);
$color-turquoise-3: rgb(98, 209, 186);
$color-text-2: rgba(51, 51, 51, 0.5);
$size-screen-tablet: 1024px;
$size-screen-mobile: 767px;
$color-background: rgba(0, 0, 0, 0.7);
$color-background-1: rgba(0, 153, 255, 0.04);
$color-background-2:rgba(0, 153, 255, 1);